html, body, #root{
  height: 100vh;
  width: 100vw;
  position: fixed;
}

h1, h2, h3{
  text-align: center;
}

.landing-container{
  opacity: 0.8;
  background: url('../src/assets/FITLOG.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
}

.title{
  position: fixed;
  width: 100vw;
  color: #FFFFFF;
  text-align: center;
}

.TitleContainer{
  color: #FFFFFF;
  margin: 0 auto;
}

.card{
  height: 370px;
  margin: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }

  .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: dodgerblue;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }

    #LoginBtn {
      background-color: dodgerblue;
      color: black;
      font-weight: bold;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }