html, body, #root{
  height: 100vh;
  width: 100vw;
}

h1, h2, h3{
  text-align: center;
  color: black
}

.landing-container{
  opacity: 0.8;
  background: url('../src/assets/FITLOG.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
}

.title{
  position: fixed;
  width: 100vw;
  color: black;
  text-align: center;
  margin-top: 15px;
}

.title a {
  color: black;
}

.NavTitle a{
  color: bisque;
}

.title :hover, .NavTitle :hover{
  color: white;
  text-decoration: none;
}

.TitleContainer{
  color: #FFFFFF;
  margin: 0 auto;
}

.card{
  height: 425px;
  margin: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}
    
.social_icon span:hover{
  color: white;
  cursor: pointer;
}
    
.social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
}
    
.input-group-prepend span{
  width: 50px;
  background-color: dodgerblue;
  color: black;
  border:0 !important;
}
    
input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important; 
}
    
.remember{
  color: white;
}
    
.remember input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

#LoginBtn, #RegisterBtn, #DemoBtn {
  background-color: dodgerblue;
  color: black;
  font-weight: bold;
}

#DemoBtn{
  margin: 0 41% 0 41%;
}

#RegisterBtn {
  margin: 15px 37% 0 35%;
}
    
.login_btn, .register_btn, .demo_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
}
    
.login_btn:hover, .register_btn:hover, .demo_btn:hover {
  color: black;
  background-color: white;
}
    
.links{
  color: white;
}
    
.links a{
  margin-left: 4px;
}

.fa-user, .fa-key {
  width: 100%;
}

#SignUp, #ForgotPwd{
  color: bisque;
}

.SignInContainer {
  margin: auto;
}

.NavTitle{
  color: white;
  margin: 0 auto;
  padding-top: 5px;
}

.line{
  background-color: bisque;
  height: 3px;
  width: 30px;
  float: left;
  margin-bottom: 5px;
  margin-top: 2px;
}

#HamburgerIcon {
  float: left;
  width: 30px;
  height: 30px;
}

#WOHistContainer {
  /* width: 90vw;
  margin: 30px 5%; */
  height: 250px;
  display: flow-root;
  background: lightgrey;
}

#WOHistContainer span{
  margin: 30px 50px;
  display: block;
  font-weight: bold;
}

.WOOption {
  /* width: 90vw; */
  height: 150px;
  /* margin: 30px 5%;
  border-style: ridge; */
  display: flex;
  /* border-bottom-style: ridge; */
}

#WOOptionContainer1 {
  /* background: url('../src/assets/Chest.jpg') no-repeat center; */
  background-color: bisque
}

#WOOptionContainer2 {
  /* background: url('../src/assets/Leg.jpeg') no-repeat center; */
  background-color: bisque
}

#WOOptionContainer3 {
  /* background: url('../src/assets/shoulder.png') no-repeat center; */
  background-color: bisque
}

.WOOption span{
  margin: 0 auto;
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 90px;
}

#ChestBtn, #LegsBtn, #ShoulderBtn, #BackBtn, #BicepsBtn, #TricepsBtn {
  height: 60px;
  width: 200px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 24px;
  font-weight: bold;
}

.ExerciseContainer {
  width: 90vw;
  margin: 30px 5%;
  background-color: lightgrey;
  cursor: pointer;
}

.ExerciseContainer span {
  display: block;
  /* margin: 22px; */
  padding: 25px;
  font-weight: bold;
}

.EC {
  width: 90vw;
  margin: 0 5%;
}

.ExpExerciseContainer {
  height: auto;
  background-color: white;
  border-style: unset;
  text-align: center;
  padding: 0px 0px 15px 0px;
  cursor: default;
}

.DetailsLogContainer {
  display: inline-block;
  margin: 15px 15px 15px 0;
}

.DetailsLogContainer span {
  padding: 0 10px 0 0;
  display: inline-block;
}

.DetailsLogContainer input {
  width: 60px;
}

.DetailsLogContainer select {
  margin-left: 10px;
}

#SaveLogBtn {
  display: inline-flex;
}

#NavLinks {
  display: none;
}

.LogList, #LogsTitle{
  display: block;
}

#LogsTitle span {
  display: inline-block;
  font-weight: bold;
}

#Title_DateTime {
  display: inline-block;
  font-weight: bold;
  padding: 10px 0px 10px 20px;
  margin: 0px 35px 0px 45px;
}

#Title_Weight, #Title_Unit, #Title_Count {
  display: inline-block;
  font-weight: bold;
  padding: 10px 0px;
  margin: 0px 0px 0px 25px;
}

#LogContainer {
  margin: 0 15%;
  max-height: 150px;
  overflow: auto;
}

.Log_DateTime {
  display: inline-block;
  width: 190px;
  text-align: right;
  padding: 3px 0px;
}

.Log_Weight {
  display: inline-block;
  width: 40px;
  padding: 3px 0px 3px 0px;
  margin: 0px 0px 0px 35px;
  text-align: right;
}

.Log_Unit {
  display: inline-block;
  width: 25px;
  padding: 3px 0px 3px 0px;
  margin: 0px 0px 0px 35px;
  text-align: right;
}

.Log_Count {
  display: inline-block;
  width: 25px;
  padding: 3px 0px 3px 0px;
  margin: 0px 0px 0px 45px;
  text-align: right;
}

/* Media queries */

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #ChestBtn, #LegsBtn, #ShoulderBtn, #BackBtn, #BicepsBtn, #TricepsBtn {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 768px) {
  #ChestBtn, #LegsBtn, #ShoulderBtn, #BackBtn, #BicepsBtn, #TricepsBtn {
    margin-left: 0;
    margin-right: 0;
  }

  .col-md-4{
    padding: 0;
  }

  #HamburgerIcon {
    display: none;
  }

  .NavTitle {
    margin-left: 30px;
    margin-right: 0px;
  }

  #NavLinks {
    margin: 0 auto;
    margin-left: 30px;
    display: inline-block;
  }

  #NavLinks span{
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 949px) {
  #WOOptions {
    margin-left: 5%;
  }

  #WOHistContainer span{
    margin-left: 5%;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 950px) {
  #WOOptions {
    margin-left: 10%;
  }

  #WOHistContainer span{
    margin-left: 10%;
    padding-left: 15px;
  }
}