@import "../styles/variables.scss";

html, body, #root{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3{
  text-align: center;
  color: $titleColor;
}

.landing-container{
  opacity: 0.8;
  background: url('../../src/assets/FITLOG.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  width: 100vw;
}

.title{
  position: fixed;
  width: 100vw;
  color: black;
  text-align: center;
  margin-top: 15px;
}

.title a {
  color: black;
}

.NavTitle a, .NavTitle-center a{
  color: $titleColor;
}

.title :hover, .NavTitle :hover, .NavTitle-center :hover{
  color: white;
  text-decoration: none;
}

.TitleContainer{
  color: #FFFFFF;
  margin: 0 auto;
}

.card{
  height: 350px;
  margin: auto;
  width: 90vw;
  background-color: rgba(0,0,0,0.5) !important;
}

.SignUpLink {
  padding-top: 0;
}

.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover{
  color: white;
  cursor: pointer;
}

.social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span{
  width: 50px;
  background-color: dodgerblue;
  color: black;
  border:0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

.remember{
  color: white;
}

.remember input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

#RegisterConfirmationContainer {
  margin: auto;
  margin-top: 150px;
}

#RegisterConfirmation {
  height: 200px;
  justify-content: center;
}

#RegisterConfirmText {
  font-size: 24px;
  text-align: center;
  display: block;
  color: $titleColor;
  font-weight: 500;
}

#LoginBtnContainer {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-bottom: 0px;
}

#RegisterBtnContainer {
  display: flex;
  justify-content: center;
}

#LoginBtn, #RegisterBtn, #DemoBtn {
  background-color: dodgerblue;
  color: black;
  font-weight: bold;
}

#DemoBtn{
  margin: 0 41% 0 41%;
}

#RegisterBtn {
  margin: 15px 0 0 0;
}

.login_btn, .register_btn, .demo_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover, .register_btn:hover, .demo_btn:hover {
  color: black;
  background-color: white;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}

.fa-user, .fa-key {
  width: 100%;
}

#SignUp, #ForgotPwd{
  color: $titleColor;
}

.SignInContainer {
  margin: auto;
}

.NavTitle {
  color: $titleColor;
  margin-right: 0px;
}

.NavTitle-center {
  margin: 0 auto;
  color: $titleColor;
}

.line{
  background-color: $titleColor;
  height: 3px;
  width: 30px;
  float: left;
  margin-bottom: 5px;
  margin-top: 2px;
}

#NavLinks {
  display: inline-block;
  margin-right: 30px;
}

#NavLinks i {
  color: $titleColor;
}

#HamburgerIcon {
  span {
    display: block;
    float: none;
  }
}

#WOHistContainer {
  height: 300px;
  display: flow-root;
  background: lightgrey;
}

#WOHist {
  width: 100%;
}

.WOOption {
  height: 150px;
  display: flex;
}

#WOOptionContainer1, #WOOptionContainer2, #WOOptionContainer3 {
  background-color: $titleColor
}

.WOOption span{
  margin: 0 auto;
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 90px;
}

#ChestBtn, #LegsBtn, #ShoulderBtn, #BackBtn, #BicepsBtn, #TricepsBtn {
  height: 60px;
  width: 200px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 24px;
  font-weight: bold;
}

.ExerciseContainer {
  width: 90vw;
  margin: 30px 5%;
  background-color: lightgrey;
  cursor: pointer;
}

.ExerciseContainer span {
  display: block;
  padding: 25px;
  font-weight: bold;
}

.ExpExerciseContainer {
  height: auto;
  background-color: white;
  border-style: unset;
  text-align: center;
  padding: 0px 0px 15px 0px;
  cursor: default;
}

.DetailsLogContainer span {
  padding: 0 10px 0 0;
  display: inline-block;
}

.DetailsLogContainer input {
  width: 60px;
}

#Title_DateTime {
  display: inline-block;
  font-weight: bold;
  padding: 10px 0px 10px 20px;
}

#Title_Weight, #Title_Unit, #Title_Count {
  display: inline-block;
  font-weight: bold;
  padding: 10px 0px;
  margin: 0px 0px 0px 20px;
}

#LogContainer {
  max-height: 150px;
  overflow: auto;
}

.Log_DateTime {
  display: inline-block;
  width: 120px;
  padding: 3px 0px;
}

.Log_Weight {
  display: inline-block;
  width: 40px;
  padding: 3px 0px 3px 0px;
  margin: 0px 0px 0px 15px;
  text-align: right;
}

.Log_Unit {
  display: inline-block;
  width: 25px;
  padding: 3px 0px 3px 0px;
  margin: 0px 0px 0px 35px;
  text-align: right;
}

.Log_Count {
  display: inline-block;
  width: 25px;
  padding: 3px 0px 3px 0px;
  margin: 0px 0px 0px 30px;
  text-align: right;
}

.RegisterCardContainer {
  height: 410px;
}

.RegisterCardWithValidationText {
  height: 440px;
  span {
    color: $titleColor;
    text-align: center;
  }
}

#loginValidationText {
  color: $titleColor;
  text-align: center;
}

#RegisterFieldsContainer {
  padding: 0 30px;
}

#WelcomeNoteContainer {
  text-align: center;
  span {
    font-weight: bold;
  }
}

#MaxWeightContainer {
  text-align: center;
  font-weight: bold;
  span {
    padding-left: 15px;
  }
}

/* Media queries */
@media only screen and (min-width: 450px) {
  .card {
    width: 400px;
  }

  #HamburgerIcon {
    display: none;
  }

  .NavTitle {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) {
  #WOHist {
    width: 75%;
  }
}